{% extends 'app_reRepeat/base.html' %}

{% block content %}
	<h4>View Questions</h4>
	{% if question_list %}
		<ul>
		{% for question in question_list %}
		{% if question.is_ready %}
		<li><a style="color:#FF0000;" href="{% url 'app_reRepeat:show_question' question.id %}">{{ question.question_text }}</a></li>
		{% elif question.is_soon %}
		<li><a style="color:#FF8800;" href="{% url 'app_reRepeat:show_question' question.id %}">{{ question.question_text }}</a></li>
		{% else %}
		<li><a style="color:#007700;" href="{% url 'app_reRepeat:show_question' question.id %}">{{ question.question_text }}</a></li>
		{% endif %}

		{% endfor %}
		</ul>
	{% else %}
		<p>You have no questions.</p>
	{% endif %}
{% endblock %}
