{% extends 'app_reRepeat/base.html' %}

<!-- called from views.answer_question function -->
{% block content %}
	<h4>Answer Questions</h4>
	<strong>Q:</strong> {{ question.question_text }}
	</p>
	{% if show_answer != 1 %}
		<form action="{% url 'app_reRepeat:answer_question' 1 %}" method="post">
		{% csrf_token %}
			<input type="submit" name="show" value="Show Answer">
		</form>
	{% else %}
		<strong>A:</strong> {{ question.answer_text }}
		</p>
		<form action="{% url 'app_reRepeat:process_answer' question.id %}" method="post">
		{% csrf_token %}
			<input type="submit" name="next" value="Reviewed">
		</form>
	{% endif %}

	<form action="{% url 'app_reRepeat:process_answer' question.id %}" method="post">
	{% csrf_token %}
		<input type="submit" value="SKIP" name="skip">
	</form>
{% endblock %}

