{% extends 'app_reRepeat/base.html' %}

{% block content %}
	<h4>View Questions</h4>
	<font style="color:#FF0000">Red = Ready to review</font></br>
	<font style="color:#FF6600"> Orange = Ready to review in less than 2 days</font></br>
	<font style="color:#007700">Green = Not ready to review for at least 2 days</font></br>
	<font style="color: #000000">Black = Ready for review but overdue </font>
	{% if question_list %}
		<ul>
		{% for question in question_list %}
		<li>
		{% if question.is_overdue %}
		<a style="color:#000000;" href="{% url 'app_reRepeat:show_question' question.id %}">{{ question.question_text }}</a>
		{% elif question.is_ready %}
		<a style="color:#FF0000;" href="{% url 'app_reRepeat:show_question' question.id %}">{{ question.question_text }}</a>
		{% elif question.is_soon %}
		<a style="color:#FF6600;" href="{% url 'app_reRepeat:show_question' question.id %}">{{ question.question_text }}</a>
		{% else %}
		<a style="color:#007700;" href="{% url 'app_reRepeat:show_question' question.id %}">{{ question.question_text }}</a>
		{% endif %}
		{% if question.is_new %}<font style="color:green">(new)</font>{% endif %}
		</li>

		{% endfor %}
		</ul>
	{% else %}
		<p>You have no questions.</p>
	{% endif %}
{% endblock %}
